USE [master]
GO
/****** Object:  Database [QLNHANSU]    Script Date: 06/06/2016 2:33:04 AM ******/
CREATE DATABASE [QLNHANSU]
Go
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNHANSU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNHANSU]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 06/06/2016 2:33:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HS_LUONG]    Script Date: 06/06/2016 2:33:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HS_LUONG](
	[MaLuong] [int] IDENTITY(1,1) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[LuongCanBan] [money] NOT NULL,
	[HeSoLuong] [float] NOT NULL CONSTRAINT [DF_HS_LUONG_HeSoLuong]  DEFAULT ((1)),
	[PhuCap] [money] NOT NULL CONSTRAINT [DF_HS_LUONG_PhuCap]  DEFAULT ((0)),
 CONSTRAINT [PK__HS_LUONG__6609A48D09D01E5F] PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/06/2016 2:33:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](30) NOT NULL,
	[HoTenNV] [nvarchar](100) NOT NULL,
	[GioiTinhNV] [bit] NOT NULL DEFAULT ((1)),
	[NamSinhNV] [int] NOT NULL,
	[DanToc] [nvarchar](30) NULL,
	[DiaChiNV] [nvarchar](200) NULL,
	[SDTNV] [varchar](15) NULL,
	[MaPB] [varchar](30) NULL,
	[MaLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 06/06/2016 2:33:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [varchar](30) NOT NULL,
	[TenPB] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[HS_LUONG] ON 

INSERT [dbo].[HS_LUONG] ([MaLuong], [ChucVu], [LuongCanBan], [HeSoLuong], [PhuCap]) VALUES (1, N'Giám đốc', 35000000.0000, 1.2, 1200000.0000)
INSERT [dbo].[HS_LUONG] ([MaLuong], [ChucVu], [LuongCanBan], [HeSoLuong], [PhuCap]) VALUES (2, N'Phó giám đốc', 20000000.0000, 1.5, 2500000.0000)
INSERT [dbo].[HS_LUONG] ([MaLuong], [ChucVu], [LuongCanBan], [HeSoLuong], [PhuCap]) VALUES (3, N'Nhân viên', 10000000.0000, 1.5, 1000000.0000)
SET IDENTITY_INSERT [dbo].[HS_LUONG] OFF
INSERT [dbo].[NhanVien] ([MaNV], [HoTenNV], [GioiTinhNV], [NamSinhNV], [DanToc], [DiaChiNV], [SDTNV], [MaPB], [MaLuong]) VALUES (N'NV01', N'Ngô Thanh Danh', 1, 1972, N'Viet Nam', N'Quận 12, TPHCM', N'01863522575', N'NV', 3)
INSERT [dbo].[NhanVien] ([MaNV], [HoTenNV], [GioiTinhNV], [NamSinhNV], [DanToc], [DiaChiNV], [SDTNV], [MaPB], [MaLuong]) VALUES (N'NV02', N'Lý Thị Mộng Cầm', 0, 1978, N'Viet Nam', N'235 Ba Đình, Hà Nội', N'01669635632', N'NV', 3)
INSERT [dbo].[NhanVien] ([MaNV], [HoTenNV], [GioiTinhNV], [NamSinhNV], [DanToc], [DiaChiNV], [SDTNV], [MaPB], [MaLuong]) VALUES (N'NV03', N'Nông Văn Lúa', 1, 1979, N'Viet Nam', N'Quận 1, TPHCM', N'01253528595', N'NV', 3)
INSERT [dbo].[PhongBan] ([MaPB], [TenPB]) VALUES (N'BV', N'Bảo vệ')
INSERT [dbo].[PhongBan] ([MaPB], [TenPB]) VALUES (N'GÐ', N'Giám đốc')
INSERT [dbo].[PhongBan] ([MaPB], [TenPB]) VALUES (N'NV', N'Nhân viên')
/****** Object:  Index [UNI_HS_LUONG]    Script Date: 06/06/2016 2:33:04 AM ******/
ALTER TABLE [dbo].[HS_LUONG] ADD  CONSTRAINT [UNI_HS_LUONG] UNIQUE NONCLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__MaLuon__182C9B23] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[HS_LUONG] ([MaLuong])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK__NhanVien__MaLuon__182C9B23]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK__NhanVien__NamSin__164452B1] CHECK  (([NamSinhNV]>=(1900)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK__NhanVien__NamSin__164452B1]
GO
USE [master]
GO
